/* bg:  #232946  #0e172c*/
/* headline: #fffffe */
/* paragraph: #b8c1ec */
/* card bg: #d9d4e7 */
/* https://www.happyhues.co/palettes/12
https://www.happyhues.co/palettes/2 */
/* https://coolors.co/e94100-00113f-1a2650-000534-ffffff */
:root{
    --orange: #e94100;
    --primary: #00113f;
    --secondary: #1a2650;
    --secondary2: #002ca2;
    --tertiary: #000534;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    z-index: 1;
}
html{
    font-size: 20px;
    scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html{
        font-size: 16px;
    }
}  

@media only screen and (min-width: 351px) and (max-width: 767px) {
    html{
        font-size: 12px;
    }
}
@media only screen and (max-width: 350px) {
    html{
        font-size: 10px;
    }
}
body{
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}
body::before{
    content: "";
    position: fixed;
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: -5;
}
header{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 15px;
    list-style: none;
    position: relative;
    background: rgba(0, 0, 0,0.8);
}
.logo img{
    width: 4rem;
    border-radius: 5px;
    transition: 0.4s;
}
.menu { display: flex; }
.menu li { padding: 20px; }
.menu li a, .about-nav-bar a{
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}
.menu li a::after, .about-nav-bar a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--orange);
    transition: 0.15s ease-in-out;
}
.menu li a:hover::after, .about-nav-bar a:hover::after{width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    display: none;
}
.open-menu{
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.close-menu{
    top: 15px;
    right: 17px;
}
#check{display: none;}
@media (max-width: 535px) {
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        background-color: rgba(0, 0, 0,0.8);
        transition: all 0.2s ease-in-out;
    }
    .menu li{margin-top: 20px;}
    .menu li a {
        padding: 10px;
        font-size: 1.5rem;
    }
    .open-menu, .close-menu{display: block;}
    #check:checked ~ .menu {right: 0;}
}

.center-div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    padding: 0 20px;
}
.messages div{
    font-weight: 100;
}
.name{
    font-size: 6rem;
    color: var(--orange);
    font-weight: 600 !important;
}
.specs{
    font-size: 3rem;
    font-weight: 600 !important;
}
.about{
    height: fit-content;
    background-color: var(--secondary);
    width: 95%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 2px 8px 0 rgba(255, 255, 255, 0.5);
}
.about h1{
    font-size: 2.5rem;
    padding: 2rem;
    text-decoration: underline;
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-card{
    margin-top: 20px;
    background: var(--primary);
    padding: 0 0 20px 0;
    border-radius: 5px;
    max-width: 1000px;
}
.about-nav {position: relative;}
.about-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0,0.8);
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0;
    list-style: none;
}
.about-nav-bar a{
    text-decoration: none;
    color: var(--white);
}
.profile-img{
    text-align: center;
    margin: 0 auto 30px auto; 
    width: fit-content;
    max-width: 350px;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 5px;
}
.profile-img .image{
    border: 2px solid var(--orange);
    padding: 0.5rem;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
}
.profile-img .image img{
    border-radius: 5px;
}
.profile-name, .profile-job{
    text-align: center;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}
.profile-name{
    font-size: 1.75rem;
    padding-top: 20px;
    color: var(--orange);
    font-weight: 600;
}
.profile-job{
    font-size: 1.25rem;
}
.profile-img img{
    min-width: 200px;
    max-width: 300px;
    width: 100%;
}
.about-text{
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    font-size: 1.1rem;
}
.about-text-content{
    padding: 10px 10px 0 10px;
}
.about-text-content h4{
    color: var(--orange);
    text-decoration: underline;
}
.about-text-content .time-collage{
    display: flex;
    align-items: center;
    text-align: left;
}
.year{
    min-width: 25%;
    text-align: center;
}
.university{
    font-size: 1.25rem;
}
.course, .branch{
    font-size: 0.75rem;
}
.location{
    font-size: 0.85rem;
}
.till-current{
    font-size: 0.65rem;
}
.section-divider{
    height: 3px;
    width: 95%;
    background-color: var(--orange);
    margin: 30px auto 10px auto;
}
@media screen and (max-width: 720px) {
    .about-container{
        display: block;
    }
    .profile-img img{
        min-width: 100px;
        max-width: 200px;
    }
}
.btn{
    min-width: 200px;
    min-height: 30px;
    margin: 10px;
    background-color: var(--white) !important;
    color: var(--primary) !important;
    transition: 0.6s;
}
.btn:hover{
    background-color: var(--primary) !important;
    color: var(--white) !important;
    transition: 0.6s;
}
.flex-btnn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects{
    height: 100vh;
    width: 100%;
    /* background-color: var(--primary); */
}