/* bg:  #232946  #0e172c*/
/* headline: #fffffe */
/* paragraph: #b8c1ec */
/* card bg: #d9d4e7 */
/* https://www.happyhues.co/palettes/12
https://www.happyhues.co/palettes/2 */
/* https://coolors.co/e94100-00113f-1a2650-000534-ffffff */
:root{
    --orange: #e94100;
    --primary: #00113f;
    --secondary: #1a2650;
    --secondary2: #002ca2;
    --tertiary: #000534;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html{
        font-size: 16px;
    }
}  

@media only screen and (max-width: 767px) {
    html{
        font-size: 12px;
    }
}
.blur-bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(./background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}
.blur-bg::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
}
.center-div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
}
.messages div{
    font-weight: 100;
}
.name{
    font-size: 6rem;
    color: var(--orange);
    font-weight: 600 !important;
}
.specs{
    font-size: 3rem;
    font-weight: 600 !important;
}